.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 68px 30px 40px;
   min-height: 706px;
}

.form-profile {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.form-profile__container {
   width: 260px;
   margin: 0px auto 0px;
   display: flex;
   flex-direction: column;
}

.form-profile__title {
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   margin: 0px auto 63px;
}

.form-profile__input-box {
   display: flex;
   border-bottom: 1px solid #424242;
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   justify-content: space-between;
   padding: 16px 0px;
}

.border-none {
   border-bottom: none;
}

.form-profile__span {
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
}

.form-profile__input-block {
   display: flex;
   flex-direction: column;
}

.form-profile__input {
   display: flex;
   width: 100%;
   margin: 0;
   background: #202020;
   color: #ffffff;
   border: none;
   text-align: end;
   font-style: inherit;
   flex-grow: 1;
}

.form-profile__button {
   margin: 362px auto 14px;
   background-color: transparent;
   color: #ffffff;
   border: none;
   font-size: 12px;
   font-weight: 500;
   line-height: 15px;
   letter-spacing: 0em;
}

.form-profile__button:hover {
   cursor: pointer;
   opacity: 0.5;
   transition: 0.5s;
}

.form-profile__button_disabled {
   opacity: 0.3;
   color: #000000;
   pointer-events: none;
}

.form-profile__link {
   margin: 0 auto;
   margin-bottom: 30px;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
}

.form-profile__link_exit {
   text-decoration: none;
   color: #ee3465;
}

.form-profile__link_exit:hover {
   opacity: 0.5;
   transition: 0.5s;
}

.profile__error {
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   color: #ee3465;
}

@media screen and (min-width: 768px) {
   .profile {
      padding: 235px 179px 0;
   }

   .form-profile__container {
      width: 410px;
      margin: 0 auto;
   }

   .form-profile__title {
      margin-bottom: 80px;
      align-self: center;
   }

   .form-profile__button {
      width: 100%;
      margin-top: 196px;
      margin-bottom: 16px;
      padding: 0;
      font-size: 13px;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0px;
   }

   .form-profile__link {
      font-size: 13px;
      font-weight: 500;
      line-height: 16px;
      margin: 0 auto;
   }
}

@media screen and (min-width: 1280px) {
   .profile {
      min-height: 626px;
      padding: 74px 435px 0px;
   }

   .form-profile__title {
      margin-bottom: 106px;
   }

   .form-profile__button {
      margin-top: 206px;
   }
}