.navigation {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
}

.navigation_opened {
   display: flex;
}

.navigation__container {
   display: flex;
   flex-direction: column;
   max-width: 520px;
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   right: 0;
   background: #202020;
   font-size: 18px;
   font-weight: 500;
   line-height: 22px;
   text-align: center;
   box-sizing: border-box;
}

.navigation__close {
   width: 22px;
   height: 22px;
   background-image: url('../../images/close.svg');
   background-position: center;
   background-color: transparent;
   align-self: end;
   border: none;
   margin: 13px;
   cursor: pointer;
}

.navigation__movies-list {
   display: flex;
   flex-direction: column;
   margin: 78px 10px 0px;
}

.navigation__movies {
   text-decoration: none;
   color: #ffffff;
   margin: 0;
   margin-bottom: 17px;
   padding: 0;
   padding-bottom: 7px;
}

.navigation__movies:last-of-type {
   margin: 0;
}

.navigation__movies:hover {
   opacity: 0.5;
   transition: 0.5s;
}

.active {
   text-decoration: underline;
}

.navigation__profile {
   margin: 435px 0 0px;
   text-align: center;
}

.navigation__profile-links {
   display: flex;
   justify-content: center;
   align-items: center;
}

.navigation__profile-link {
   text-decoration: none;
   color: #ffffff;
   font-size: 14px;
   font-weight: 500;
   line-height: 16px;
}

.navigation__profile-icon {
   width: 26px;
   height: 30px;
   background-image: url('../../images/icon-profile.svg');
   background-repeat: no-repeat;
   background-position: center;
   margin-left: 17px;
   background-color: #313131;
   border-radius: 4px;
}

