.project-title {
   margin: 70px 0px 60px;
   padding-bottom: 28px;
   border-bottom: 1px solid white;
   font-size: 18px;
   font-weight: 400;
   line-height: 22px;
   letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
   .project-title {
      font-size: 22px;
      line-height: 27px;
      margin: 90px 0px 70px;
      padding-bottom: 22px;
   }
}

@media screen and (min-width: 1280px) {
   .project-title {
      margin: 110px 0px 70px;
   }
}
