.search-form {
   padding: 0px 10px;
   display: block;
   background: #202020;
   margin: 0;
}

.search-form__container {
   width: 100%;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid #424242;
}

.search-form__line {
   display: none;
}

.search-form__input-icon {
   display: none;
}

.search-form__form {
   margin: 80px 0px 34px;
   box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.08);
   border-radius: 9px;
   display: grid;
   grid-template-columns: auto 72px;
   grid-template-rows: 72px;
}

.search-form__input {
   background: #222222;
   border: none;
   font-size: 14px;
   font-weight: 400;
   line-height: 20px;
   color: #8b8b8b;
   padding: 0;
   padding-left: 19px;
}

.search-form__button {
   padding: 19px;
   background: #222222;
   border: none;
   margin-left: auto;
}

.search-form__button:hover {
   opacity: 0.6;
   transition: 0.6s;
   cursor: pointer;
}

.search-form__short-title {
   font-size: 11px;
   font-weight: 400;
   line-height: 18px;
}
/* background-color: #8b8b8b;*/

.search-form__short {
   margin: 0px auto 33px;
   width: 148px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.search-form__switch {
   display: flex;
   box-sizing: border-box;
   height: 20px;
   width: 36px;
   margin: 0;
   background-color: #8b8b8b;
   border-radius: 20px;
   position: relative;
   justify-content: space-between;
   align-items: center;
}

.search-form__switch_active {
   background-color: #3ddc84;
}

.search-form__checkbox {
   position: absolute;
   left: 0;
   margin: 0;
   padding: 0;
   height: 20px;
   width: 50px;
   opacity: 0;
   z-index: 3;
   cursor: pointer;
}

.search-form__slider {
   box-sizing: border-box;
   height: 8px;
   width: 8px;
   background-color: #fff;
   border-radius: 50%;
   position: relative;
   left: 3px;
   z-index: 2;
   transition: transform 0.3s ease-in;
}

.search-form__checkbox:checked ~ .search-form__slider {
   left: 6px;
}

.search-form__checkbox ~ :checked ~ .search-form__slider {
   left: 22px;
}

.search-form__switch .search-form__checkbox:checked {
   z-index: 1;
}

@media screen and (min-width: 768px) {
   .search-form {
      padding: 77px 50px 107px;
      border-bottom: 1px solid #424242;
      display: flex;
      margin-bottom: 10px;
   }

   .search-form__container {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      padding: 0;
      border-radius: 9px;
      overflow: hidden;
      border: none;
   }

   .search-form__form {
      width: 100%;
      min-width: 480px;
      margin: 0;
      display: flex;
      background: #222222;
   }

   .search-form__input-icon {
      display: block;
      padding: 21px;
      padding-left: 10px;
   }

   .search-form__input {
      width: 100%;
      padding: 0;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0px;
   }

   .search-form__line {
      display: inline-block;
   }

   .search-form__short {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      min-width: 207px;
      margin: 0;
      background: #222222;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
   }

   .search-form__switch {
      margin: 0px 15px 0px 20px;
   }

   .search-form__short-title {
      font-size: 13px;
      line-height: 18px;
      letter-spacing: 0em;
   }
}

@media screen and (min-width: 1280px) {
   .search-form {
      padding: 66px 70px 67px;
   }

   .search-form__short {
      min-width: 226px;
   }

   .search-form__switch {
      margin: 0px 14px 0px 30px;
   }

   .search-form__input-icon {
      padding: 30px;
      padding-right: 20px;
   }
}
