.register {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 56px;
}

.form-register {
   width: 100%;
}

.form-register__header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.form-register__container {
   width: 260px;
   margin: 0px auto 0px;
   display: flex;
   flex-direction: column;
}

.form-register__title {
   font-size: 24px;
   font-weight: 500;
   line-height: 29px;
   margin: 46px auto 80px;
}

.form-register__label {
   font-weight: 400;
   font-size: 10px;
   line-height: 12px;
   color: #8b8b8b;
}

.form-register__input {
   margin: 5px 0 23px;
   padding-bottom: 10px;
   background: #202020;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #424242;
   font-size: 14px;
   font-weight: 400;
   line-height: 17px;
}

.form-register__input:focus {
   outline: none;
   border-bottom: 1px solid rgb(227, 221, 221);
}

.form-register__button {
   margin: 215px auto 4px;
   width: 260px;
   height: 45px;
   background: #4285f4;
   border-radius: 3px;
   color: #ffffff;
   border-radius: 3px;
   border: none;
   font-size: 12px;
   font-weight: 500;
   line-height: 15px;
   letter-spacing: 0em;
}

.form-register__button:hover {
   cursor: pointer;
   opacity: 0.5;
   transition: 0.5s;
}

.form-register__button_disabled {
   opacity: 0.3;
   color: #000000;
   pointer-events: none;
}

.form-register__link {
   margin: 0 auto;
   margin-bottom: 30px;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
}

.form-register__link_text {
   color: #8b8b8b;
}

.form-register__link_login {
   margin-left: 7px;
   text-decoration: none;
   color: #4285f4;
}

.form-register__link_login:hover {
   opacity: 0.5;
   transition: 0.5s;
}

.form-register__error {
   font-size: 10px;
   font-weight: 400;
   line-height: 12px;
   color: #ee3465;
}

@media screen and (min-width: 768px) {
   .register {
      padding: 232px 186px;
      padding-bottom: 0;
   }

   .form-register__container {
      width: 396px;
      margin: 0 auto;
   }

   .form-register__header {
      display: flex;
      align-items: flex-start;
   }

   .form-register__title {
      margin: 37px 0px 39px;
   }

   .form-register__button {
      width: 100%;
      margin-top: 198px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      letter-spacing: 0em;
      padding: 0;
   }

   .form-register__link {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
   }
}
@media screen and (min-width: 1280px) {
   .register {
      padding: 70px 442px 0px;
   }
}
