.footer {
   display: flex;
   flex-direction: column;
   padding: 10px;
   margin-top: 68px;
   justify-content: center;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
   color: #8b8b8b;
}

.footer__title {
   padding-bottom: 21px;
   margin: 0 auto;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
}

.footer__list {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   list-style: none;
   padding: 0;
   margin: 30px auto 27px;
}

.footer__list-item {

   margin-bottom: 12px;
}

.footer__list-item:last-of-type {
   margin-bottom: 0;
}

.footer__link {
   color: #ffffff;
   text-decoration: none;
}

.footer__link:hover {
   opacity: 0.5;
   transition: 0.5s;
}

.footer__copyright {
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
   text-align: center;
   color: #8b8b8b;
}

.footer__content {
   border-top: 1px solid #424242;
}

@media screen and (min-width: 768px) {
   .footer {
      margin: 0;
      margin-top: 18px;
      padding: 79px 30px 0px;
   }

   .footer__title {
      margin: 0 auto;
      border: none;
   }

   .footer__list {
      flex-direction: row;
      margin: 0;
      justify-content: center;
      align-items: center;
   }

   .footer__list-item {
      margin: 0;
      margin-left: 20px;
   }

   .footer__content {
      height: 56px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      line-height: 16px;
      border-top: 1px solid #424242;
   }

   .footer__copyright {
      color: #ffffff;
   }
}

@media screen and (min-width: 1280px) {
   .footer {
      margin: 0;
      margin-top: 38px;
      padding: 79px 70px 0px;
      letter-spacing: 0.04em;
   }
}
