.techs {
   box-sizing: border-box;
   margin: 0;
   padding: 0px 14px;
   display: flex;
   flex-direction: column;
}

.techs__title {
   margin: 0px auto 24px;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   text-align: center;
}

.techs__info {
   margin: 0 auto;
   font-size: 11px;
   font-weight: 400;
   line-height: 16px;
   text-align: center;
}

.techs__list {
   margin: 50px auto 70px;
   padding: 0;
   list-style-type: none;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   align-items: center;
   justify-content: center;
}

.techs__skills {
   display: flex;
   width: 84px;
   height: 57px;
   background: #303030;
   border-radius: 10px;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: -0.04em;
   text-align: center;
   justify-content: center;
}

@media screen and (min-width: 768px) {
   .techs__list {
      grid-template-columns: repeat(7, 1fr);
   }
}
