.techs {
   box-sizing: border-box;
   margin: 0;
   padding: 0px 14px;
   display: flex;
   flex-direction: column;
}

.techs__title {
   margin: 0px auto 24px;
   font-size: 30px;
   font-weight: 400;
   line-height: 36px;
   letter-spacing: -0.04em;
   text-align: center;
}

.techs__info {
   margin: 0 auto;
   font-size: 11px;
   font-weight: 400;
   line-height: 16px;
   letter-spacing: -0.04em;
   text-align: center;
}

.techs__list {
   margin: 50px auto 70px;
   padding: 0;
   list-style-type: none;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   align-items: center;
   justify-content: center;
}

.techs__skills {
   display: flex;
   width: 84px;
   height: 57px;
   background: #303030;
   border-radius: 10px;
   font-size: 12px;
   font-weight: 400;
   line-height: 15px;
   letter-spacing: -0.04em;
   text-align: center;
   justify-content: center;
   align-items: center;
}

@media screen and (min-width: 768px) {
   .techs {
      background-color: #272727;
      padding: 0px 50px;
   }

   .techs__list {
      margin: 83px auto 90px;
      grid-template-columns: repeat(7, 1fr);
   }

   .techs__title {
      font-size: 50px;
      line-height: 58px;
      letter-spacing: -0.04em;
      margin: 10px 0px 22px;
   }

   .techs__info {
      max-width: 460px;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.04em;
   }
}

@media screen and (min-width: 768px) {
   .techs {
      padding: 0px 70px;
   }

   .techs__title {
      margin: 20px 0px 27px;
   }

   .techs__info {
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.04em;
   }

   .techs__list {
      margin: 99px auto 100px;
   }

   .techs__skills {
      width: 90px;
      height: 60px;
   }
}
